@page
@model LinBeach.Pages.LoginModel
@{
}

<img class="bg-image-v" src="~/lib/images/background1.png">
<div class="container">
    <div class="row align-items-center" style="min-height: 100vh;">
       
        <div class="col-md-6 d-none d-md-block">
            
            <img src="~/lib/images/backgroundIcon.png">
        </div>

        
        <div class="col-md-6">
            
            <div class="container1" id="loginFormContainer">
                
                <h2 class="text-light">Login</h2>
                <form method="post" id="loginForm">
                    
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <script>
                            window.onload = function() {
                                document.getElementById('loginFormContainer').classList.add('shake');
                            };
                        </script>
                    }
                    


                    <div class="mb-3">
                        <label asp-for="LoginViewModel.Username" class="form-label text-light">Username</label>
                        <input asp-for="LoginViewModel.Username" class="form-control" />
                        <span asp-validation-for="LoginViewModel.Username" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LoginViewModel.Password" class="form-label text-light">Password</label>
                        <input asp-for="LoginViewModel.Password" class="form-control" />
                        <span asp-validation-for="LoginViewModel.Password" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-outline-light">Login</button>
                </form>
            </div>
        </div>

    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var loginForm = document.getElementById('loginForm');

        loginForm.addEventListener('submit', function (e) {
           
            setTimeout(function () {
                // Add the animation class to the form container
                var formContainer = document.getElementById('loginFormContainer');
                formContainer.classList.add('melt-away');
            }, 100); 
        });
    });
</script>